@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--poppins), ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-roboto: var(--roboto), ui-sans-serif, system-ui, -apple-system, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
